<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/postgresdb</property>
        <property name="hibernate.connection.username">user_db</property>
        <property name="hibernate.connection.password">user_db_321</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

<!--        none-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <mapping class="org.hw.entity.User"/>
        <mapping class="org.hw.entity.Role"/>
        <mapping class="org.hw.entity.Address"/>
        <mapping class="org.hw.entity.Product"/>
        <mapping class="org.hw.entity.ProductCategory"/>
        <mapping class="org.hw.entity.Brand"/>
        <mapping class="org.hw.entity.Currency"/>
        <mapping class="org.hw.entity.Country"/>
        <mapping class="org.hw.entity.StateProvince"/>
        <mapping class="org.hw.entity.City"/>
        <mapping class="org.hw.entity.Order"/>
        <mapping class="org.hw.entity.OrderItem"/>
        <mapping class="org.hw.entity.CartItem"/>
        <mapping class="org.hw.entity.Review"/>
        <mapping class="org.hw.entity.ProductAnalog"/>
    </session-factory>
</hibernate-configuration>